.itemsListStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

.itemStyle {
    width: 300px;
    height: auto;
    border-top: 2px solid rgb(255, 15, 15);
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 5px rgb(204, 204, 204);
}

.itemStyle:hover {
    background-color: rgb(190, 207, 208);
    opacity: 0.85;
    transition: background-color 0.5s
}

.itemStyle img {
    width: 300px;
    height: 150px;
}

.itemStyle h3 {
    color: rgb(195, 38, 38);
}