.itemsListStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

.itemStyle {
    width: 300px;
    height: 600px;
    border: 1px solid rgb(24, 66, 143);
    background-color: rgb(245, 245, 245);
}

.itemStyle img {
    width: 300px;
    height: 150px;
}

.itemStyle h3 {
    color: rgb(195, 38, 38);
}